@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication15.Models.Category

@{
    ViewData["Title"] = "Chi tiết thể loại";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Model.Name</h4>
    <p>Số lượng sản phẩm: @Model.Products?.Count ?? 0</p>

    <h5>Sản phẩm trong thể loại:</h5>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@product.Name</li>
        }
    </ul>

    <a href="@Url.Action("Index")" class="btn btn-secondary">Quay lại</a>
</div>

